<div ng-if="specials && character.specials">
    <div ng-repeat="(specialName, special) in specials | orderBy: 'special.order'">
        <special-column ng-show="specialValues[activeSpecialIndex] === specialName" special="special" special-name="specialName" is-ready="isReady" save-changes="saveChanges" character="character"></special-column>
    </div>
    <div class="pipboy-page-indicator inline-block" ng-click="back()">&lt;</div>
    <div class="pipboy-page-number inline-block">{{activeSpecialIndex + 1}}</div>
    <div class="pipboy-page-indicator inline-block" ng-click="next()">&gt;<div>
</div>
