<!-- views/index.ejs -->

<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'> <!-- load bootstrap css -->
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'> <!-- load fontawesome -->
    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js'></script>
    <script src='scripts/socket.min.js'></script>
    <script src='app.js'></script>
    <script src='constants/specials.js'></script>
    <script src='constants/character.js'></script>
    <script src='services/socketService.js'></script>
    <script src='services/coreService.js'></script>
    <script src='directives/specialTable.js'></script>
    <script src='directives/incrementInput.js'></script>
    <script src='controllers/mainController.js'></script>
    <script src='directives/characterCreator.js'></script>
    <script src='directives/characterPicker.js'></script>
    <script src='directives/permissionAdder.js'></script>
</head>
<body ng-app='characterCreator'>
    <div ng-controller='MainController'>
    <div class='container-fluid'>
        <a href='/auth/logout' class='btn btn-danger'>Logout</a>
        <div class='jumbotron text-center'>
            <h1><span></span>Welcome to Fallout 4 Character Creator!</h1>

        </div>
        <div ng-if='user'>
            <div class='row text-center'>
                <div class='col-md-2'>
                    <character-picker character="character" characters="characters" is-ready="isReady" set-character="setCharacter"></character-picker>
                </div>
                <div class='col-md-8'>
                    <character-creator is-ready="isReady" save-changes="saveChanges" character="character"></character-creator>
                </div>
                <div class='col-md-2'>
                    <permission-adder character="character"></permision-adder>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
